@import "tailwindcss";
@import 'flag-icons/css/flag-icons.min.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* *{
  margin:0px
} */

@keyframes linear-animation {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes load-border-reverse {
  0% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 99%, white 100%, #3f3f46 110%, #3f3f46 100%);
  }

  1% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 98%, white 99%, #3f3f46 109%, #3f3f46 100%);
  }

  2% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 97%, white 98%, #3f3f46 108%, #3f3f46 100%);
  }

  3% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 96%, white 97%, #3f3f46 107%, #3f3f46 100%);
  }

  4% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 95%, white 96%, #3f3f46 106%, #3f3f46 100%);
  }

  5% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 94%, white 95%, #3f3f46 105%, #3f3f46 100%);
  }

  6% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 93%, white 94%, #3f3f46 104%, #3f3f46 100%);
  }

  7% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 92%, white 93%, #3f3f46 103%, #3f3f46 100%);
  }

  8% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 91%, white 92%, #3f3f46 102%, #3f3f46 100%);
  }

  9% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 90%, white 91%, #3f3f46 101%, #3f3f46 100%);
  }

  10% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 89%, white 90%, #3f3f46 100%, #3f3f46 100%);
  }

  11% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 88%, white 89%, #3f3f46 99%, #3f3f46 100%);
  }

  12% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 87%, white 88%, #3f3f46 98%, #3f3f46 100%);
  }

  13% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 86%, white 87%, #3f3f46 97%, #3f3f46 100%);
  }

  14% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 85%, white 86%, #3f3f46 96%, #3f3f46 100%);
  }

  15% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 84%, white 85%, #3f3f46 95%, #3f3f46 100%);
  }

  16% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 83%, white 84%, #3f3f46 94%, #3f3f46 100%);
  }

  17% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 82%, white 83%, #3f3f46 93%, #3f3f46 100%);
  }

  18% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 81%, white 82%, #3f3f46 92%, #3f3f46 100%);
  }

  19% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 80%, white 81%, #3f3f46 91%, #3f3f46 100%);
  }

  20% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 79%, white 80%, #3f3f46 90%, #3f3f46 100%);
  }

  21% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 78%, white 79%, #3f3f46 89%, #3f3f46 100%);
  }

  22% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 77%, white 78%, #3f3f46 88%, #3f3f46 100%);
  }

  23% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 76%, white 77%, #3f3f46 87%, #3f3f46 100%);
  }

  24% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 75%, white 76%, #3f3f46 86%, #3f3f46 100%);
  }

  25% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 74%, white 75%, #3f3f46 85%, #3f3f46 100%);
  }

  26% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 73%, white 74%, #3f3f46 84%, #3f3f46 100%);
  }

  27% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 72%, white 73%, #3f3f46 83%, #3f3f46 100%);
  }

  28% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 71%, white 72%, #3f3f46 82%, #3f3f46 100%);
  }

  29% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 70%, white 71%, #3f3f46 81%, #3f3f46 100%);
  }

  30% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 69%, white 70%, #3f3f46 80%, #3f3f46 100%);
  }

  31% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 68%, white 69%, #3f3f46 79%, #3f3f46 100%);
  }

  32% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 67%, white 68%, #3f3f46 78%, #3f3f46 100%);
  }

  33% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 66%, white 67%, #3f3f46 77%, #3f3f46 100%);
  }

  34% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 65%, white 66%, #3f3f46 76%, #3f3f46 100%);
  }

  35% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 64%, white 65%, #3f3f46 75%, #3f3f46 100%);
  }

  36% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 63%, white 64%, #3f3f46 74%, #3f3f46 100%);
  }

  37% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 62%, white 63%, #3f3f46 73%, #3f3f46 100%);
  }

  38% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 61%, white 62%, #3f3f46 72%, #3f3f46 100%);
  }

  39% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 60%, white 61%, #3f3f46 71%, #3f3f46 100%);
  }

  40% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 59%, white 60%, #3f3f46 70%, #3f3f46 100%);
  }

  41% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 58%, white 59%, #3f3f46 69%, #3f3f46 100%);
  }

  42% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 57%, white 58%, #3f3f46 68%, #3f3f46 100%);
  }

  43% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 56%, white 57%, #3f3f46 67%, #3f3f46 100%);
  }

  44% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 55%, white 56%, #3f3f46 66%, #3f3f46 100%);
  }

  45% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 54%, white 55%, #3f3f46 65%, #3f3f46 100%);
  }

  46% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 53%, white 54%, #3f3f46 64%, #3f3f46 100%);
  }

  47% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 52%, white 53%, #3f3f46 63%, #3f3f46 100%);
  }

  48% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 51%, white 52%, #3f3f46 62%, #3f3f46 100%);
  }

  49% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 50%, white 51%, #3f3f46 61%, #3f3f46 100%);
  }

  50% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 49%, white 50%, #3f3f46 60%, #3f3f46 100%);
  }

  51% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 48%, white 49%, #3f3f46 59%, #3f3f46 100%);
  }

  52% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 47%, white 48%, #3f3f46 58%, #3f3f46 100%);
  }

  53% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 46%, white 47%, #3f3f46 57%, #3f3f46 100%);
  }

  54% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 45%, white 46%, #3f3f46 56%, #3f3f46 100%);
  }

  55% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 44%, white 45%, #3f3f46 55%, #3f3f46 100%);
  }

  56% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 43%, white 44%, #3f3f46 54%, #3f3f46 100%);
  }

  57% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 42%, white 43%, #3f3f46 53%, #3f3f46 100%);
  }

  58% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 41%, white 42%, #3f3f46 52%, #3f3f46 100%);
  }

  59% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 40%, white 41%, #3f3f46 51%, #3f3f46 100%);
  }

  60% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 39%, white 40%, #3f3f46 50%, #3f3f46 100%);
  }

  61% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 38%, white 39%, #3f3f46 49%, #3f3f46 100%);
  }

  62% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 37%, white 38%, #3f3f46 48%, #3f3f46 100%);
  }

  63% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 36%, white 37%, #3f3f46 47%, #3f3f46 100%);
  }

  64% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 35%, white 36%, #3f3f46 46%, #3f3f46 100%);
  }

  65% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 34%, white 35%, #3f3f46 45%, #3f3f46 100%);
  }

  66% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 33%, white 34%, #3f3f46 44%, #3f3f46 100%);
  }

  67% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 32%, white 33%, #3f3f46 43%, #3f3f46 100%);
  }

  68% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 31%, white 32%, #3f3f46 42%, #3f3f46 100%);
  }

  69% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 30%, white 31%, #3f3f46 41%, #3f3f46 100%);
  }

  70% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 29%, white 30%, #3f3f46 40%, #3f3f46 100%);
  }

  71% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 28%, white 29%, #3f3f46 39%, #3f3f46 100%);
  }

  72% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 27%, white 28%, #3f3f46 38%, #3f3f46 100%);
  }

  73% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 26%, white 27%, #3f3f46 37%, #3f3f46 100%);
  }

  74% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 25%, white 26%, #3f3f46 36%, #3f3f46 100%);
  }

  75% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 24%, white 25%, #3f3f46 35%, #3f3f46 100%);
  }

  76% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 23%, white 24%, #3f3f46 34%, #3f3f46 100%);
  }

  77% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 22%, white 23%, #3f3f46 33%, #3f3f46 100%);
  }

  78% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 21%, white 22%, #3f3f46 32%, #3f3f46 100%);
  }

  79% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 20%, white 21%, #3f3f46 31%, #3f3f46 100%);
  }

  80% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 19%, white 20%, #3f3f46 30%, #3f3f46 100%);
  }

  81% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 18%, white 19%, #3f3f46 29%, #3f3f46 100%);
  }

  82% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 17%, white 18%, #3f3f46 28%, #3f3f46 100%);
  }

  83% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 16%, white 17%, #3f3f46 27%, #3f3f46 100%);
  }

  84% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 15%, white 16%, #3f3f46 26%, #3f3f46 100%);
  }

  85% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 14%, white 15%, #3f3f46 25%, #3f3f46 100%);
  }

  86% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 13%, white 14%, #3f3f46 24%, #3f3f46 100%);
  }

  87% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 12%, white 13%, #3f3f46 23%, #3f3f46 100%);
  }

  88% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 11%, white 12%, #3f3f46 22%, #3f3f46 100%);
  }

  89% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 10%, white 11%, #3f3f46 21%, #3f3f46 100%);
  }

  90% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 9%, white 10%, #3f3f46 20%, #3f3f46 100%);
  }

  91% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 8%, white 9%, #3f3f46 19%, #3f3f46 100%);
  }

  92% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 7%, white 8%, #3f3f46 18%, #3f3f46 100%);
  }

  93% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 6%, white 7%, #3f3f46 17%, #3f3f46 100%);
  }

  94% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 5%, white 6%, #3f3f46 16%, #3f3f46 100%);
  }

  95% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 4%, white 5%, #3f3f46 15%, #3f3f46 100%);
  }

  96% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 3%, white 4%, #3f3f46 14%, #3f3f46 100%);
  }

  97% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 2%, white 3%, #3f3f46 13%, #3f3f46 100%);
  }

  98% {
    border-image-source: linear-gradient(90deg, #3f3f46 0%, #3f3f46 1%, white 2%, #3f3f46 12%, #3f3f46 100%);
  }

  99% {
    border-image-source: linear-gradient(90deg, #3f4246 0%, white 0%, #3f3f46 1%, #3f3f46 100%);
  }

  100% {
    border-image-source: linear-gradient(90deg, white 0%, #3f3f46 0%, #3f3f46 100%);
  }
}

.load-border-animation {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, black, white, black);
  animation: load-border-reverse 1s ease-in-out infinite;

}

.load-border-animation2 {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, black, white, black);
  animation: load-border-reverse 2s ease-in-out infinite;

}

@keyframes rotate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }

}

.rotate-image {
  animation: rotate 4s ease infinite;
}

.Toastify__toast-container {
  background: transparent;
}

.Toastify__toast {
  background: transparent;
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.Toastify__toast--success {

  box-shadow: 0px 0px 5px greenyellow;
}

.Toastify__toast--default {
  box-shadow: 0px 0px 5px white;

}
.Toastify__toast--error {
  box-shadow: 0px 0px 5px red;
}

.Toastify__toast--warning{
  box-shadow: 0px 0px 5px yellow;
}
.Toastify__toast--info{
  box-shadow: 0px 0px 5px #0073ff;
}
.load-border-rounded {
  border-image-slice: 1;
  background:
    linear-gradient(90deg, #3f3f46, white, #3f3f46) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: load-border-reverse 2s ease-in-out infinite;
}

.load-border-rounded2 {
  border-image-slice: 1;
  background:
    linear-gradient(90deg, #3f3f46, white, #3f3f46) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: load-border-reverse 1s ease-in-out infinite;
}

.animate-load {
  background: linear-gradient(90deg, #E5E7EB, #9CA3AF, #E5E7EB);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: linear-animation 1s linear infinite;
}

.animate-load1 {
  background: linear-gradient(90deg, #E5E7EB, #9CA3AF, #E5E7EB);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: linear-animation 2s linear infinite;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes border {
  from {
    --border-angle: 0deg;
  }

  to {
    --border-angle: 360deg;
  }
}



.animated-border {
  animation: border 4s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer {
  @keyframes flow {
    0% {
      background-position: 200% 0;
    }

    100% {
      background-position: -200% 0;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.657);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) transparent;
}